body{
    background-color: rgb(5, 3, 4);
     display: flex;
    flex-direction:row;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    gap: 60px;
}


.loginpanel{
    width: 50%;
    background-color: rgba(209, 67, 91, 0.63);
    box-shadow: 0 10px 20px rgb(89, 1, 16);
    align-self: center;
    border-radius: 12px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.result{
     min-height: 60vh;
     margin-left: 10px;
     margin-right: 10px;
     top: auto;
     min-width: 70%;
    background-color: rgba(134, 3, 25, 0.63);
    box-shadow: 0 10px 20px rgb(89, 1, 16);
    align-self: center;
    border-radius: 12px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

h1{
    color: rgb(64, 10, 19);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

label{
    color: rgb(47, 4, 20);
    font-size: xx-large;
}

.btn{
    color: pink;
    background-color: rgb(36, 2, 36);
    font-family: fantasy;
    font-size: larger;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.btn ::after{
    background-color: white;
}

input[type="text"],
input[type="email"],
input[type="number"]{
    width: 400px;
    height: 6vh;
    border: 1px solid rgb(35, 3, 35);
    border-radius: 15px;
}