body{
    background-color: whitesmoke;
    align-items: center;
    align-content: center;
}

.loginpanel{
    width: 50%;
    background-color: rgba(134, 3, 25, 0.63);
    box-shadow: 0 10px 20px rgb(89, 1, 16);
    align-self: center;
    border-radius: 12px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.resulpanel{
     width: 100%;
    background-color: rgba(134, 3, 25, 0.63);
    box-shadow: 0 10px 20px rgb(89, 1, 16);
    align-self: center;
    border-radius: 12px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

h1{
    color: rgb(64, 10, 19);
    font-family: fantasy;
    font-size: xx-large;
}

label{
    color: rgb(122, 15, 56);
    font-size: xx-large;
}

.btn{
    color: pink;
    background-color: rgb(36, 2, 36);
    font-family: fantasy;
    font-size: larger;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.btn ::after{
    background-color: white;
}

input[type="text"]{
    width: 400px;
    height: 6vh;
    border: 1px solid rgb(35, 3, 35);
    border-radius: 15px;
}